body{
  background-color: black;
  color: white;
}

#welcome{
  margin-top: 45%;
  margin-bottom: 45%;
}

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#dumbleDiv:hover {
  border: 6px solid #e09c09;
  margin: 1px;
}

#voldyDiv:hover {
  border: 6px solid silver;
  margin: 1px;
}

#hogwarts {
  border: 6px solid yellow;
  margin: 5%;
  margin-block: 3px;
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  justify-content: space-around;
}

#voldys {
  border: 6px solid antiquewhite;
  margin: 5%;
  margin-block: 3px;
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  justify-content: space-around;
}

.myCardStyle {
  margin-bottom: 20px;
}

.footer {
  -webkit-border-radius: 13px;
  border-radius: 13px;
}

#Gryffindor {
  background-color: red;
  color:gold;
}

#Hufflepuff {background-color: yellow;
  color: black;
}

#Ravenclaw {
  background-color: blue;
  color: #CD7F32;  /*bronze */
}

#Slytherin {
  background-color: green;
  color: silver;
}

.Gryffindor {
  background-color: #650000;
  color: #e09c09;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #650000;
  -webkit-box-shadow: 13px 13px 24px #be8508, -13px -13px 24px #ffb30a;
  box-shadow: 13px 13px 24px #be8508, -13px -13px 24px #ffb30a;
}

.Hufflepuff {background-color: #ff9d0b;
  color: #1f1e19;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #e09c09;
  -webkit-box-shadow: 13px 13px 24px #1a1a15, -13px -13px 24px #24231d;
  box-shadow: 13px 13px 24px #1a1a15, -13px -13px 24px #24231d;
}

.Ravenclaw {
  background-color: #1a3956;
  color: #8e501d;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #1a3956;
  -webkit-box-shadow: 13px 13px 24px #794419, -13px -13px 24px #a35c21;
  box-shadow: 13px 13px 24px #794419, -13px -13px 24px #a35c21;
}

.Slytherin {
  background-color: #2f751c;
  color: #cccccc;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #2f751c;
  -webkit-box-shadow: 13px 13px 24px #adadad, -13px -13px 24px #ebebeb;
  box-shadow: 13px 13px 24px #adadad, -13px -13px 24px #ebebeb;
}

.Voldomort {
  background-color: black;
  color: #cccccc;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  background: #010101;
  -webkit-box-shadow: 13px 13px 24px #adadad, -13px -13px 24px #ebebeb;
  box-shadow: 13px 13px 24px #adadad, -13px -13px 24px #ebebeb;
}
